{% extends 'shared/mainLayout.html' %}
{% load render_partial %}
{% load ratings %}

{% block title %}
    Shop : Products List
{% endblock title %}


{% block content %}
    {% include 'shared/breadcrumb.html' with title="Other" sub_title="WishList" %}
    {% if wishlists %}
        <div class="hiraola-wishlist_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form action="javascript:void(0)">
                            <div class="table-content table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="hiraola-product_remove">remove</th>
                                        <th class="hiraola-product-thumbnail">images</th>
                                        <th class="cart-product-name">Product</th>
                                        <th class="hiraola-product-price">Unit Price</th>
                                        <th class="hiraola-product-stock-status">Stock Status</th>
                                        <th class="hiraola-cart_btn">add to cart</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for wishlist in wishlists %}
                                        <tr>
                                            <td class="hiraola-product_remove"><a
                                                    href="{% url 'remove-wishlist' wishlist.product.id %}"><i
                                                    class="fa fa-trash" title="Remove"></i></a></td>
                                            <td class="hiraola-product-thumbnail"><a
                                                    href="{% url 'product_detail' wishlist.product.id wishlist.product.product_name_in_url %}"><img
                                                    src="{{ wishlist.product.image.url }}"
                                                    alt="{{ wishlist.product.product_name }}" width="90"
                                                    height="115"></a>
                                            </td>
                                            <td class="hiraola-product-name"><a
                                                    href="{% url 'product_detail' wishlist.product.id wishlist.product.product_name_in_url %}">{{ wishlist.product.product_name }}</a>
                                            </td>
                                            <td class="hiraola-product-price"><span
                                                    class="amount">{% if wishlist.product.is_discount %}
                                                £{{ wishlist.product.get_discount }}
                                                <span class="badge badge-success p-1 badge-btn">{{ wishlist.product.product_discount }}%</span>
                                            {% else %}
                                                {{ wishlist.product.product_price }}
                                            {% endif %} </span></td>
                                            <td class="hiraola-product-stock-status"><span
                                                    class="in-stock">in stock</span>
                                            </td>
                                            <td class="hiraola-cart_btn"><a
                                                    href="{% url 'add_to_cart' wishlist.product.id %}">add to cart</a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <br>
        <p class="alert alert-danger text-center">Your WishLists is Empty</p>
    {% endif %}
{% endblock content %}