{% load static %}
<div class="hiraola-footer_area">
    <div class="footer-top_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-widgets_info">

                        <div class="footer-widgets_logo">
                            <a href="#">
                                <img src="{{ setting.logo.url }}" width="121" height="37" alt="{{ setting.site_name }}">
                            </a>
                        </div>


                        <div class="widget-short_desc">
                            <p>{{ setting.about_we|safe }}
                            </p>
                        </div>
                        <div class="hiraola-social_link">
                            <ul>
                                {% for social_network in setting.socialnetwork_set.all %}
                                    <li class="{{ social_network.network.name }}">
                                        <a href="{{ social_network.url }}" data-toggle="tooltip" target="_blank"
                                           title="{{ social_network.network.name }}">
                                            <i class="fab fa-{{ social_network.network.name }}"></i>
                                        </a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="footer-widgets_area">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="footer-widgets_title">
                                    <h6>Links</h6>
                                </div>
                                <div class="footer-widgets">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="{% url 'product_list' %}">Shop</a></li>
                                        <li><a href="{% url 'blog_list' %}">Blog</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="footer-widgets_info">
                                    <div class="footer-widgets_title">
                                        <h6>About Us</h6>
                                    </div>
                                    <div class="widgets-essential_stuff">
                                        <ul>
                                            <li class="hiraola-address"><i
                                                    class="ion-ios-location"></i><span>Address:</span> {{ setting.address }}
                                            </li>
                                            <li class="hiraola-phone"><i class="ion-ios-telephone"></i><span>Call
                                                    Us:</span> <br>
                                                {% for phone in setting.phones_set.all %}
                                                    <a
                                                            href="tel://{{ phone.telephone }}">{{ phone.telephone }}</a>
                                                    {% if forloop.last %}
                                                    {% else %}<br>
                                                    {% endif %}
                                                {% endfor %}

                                            </li>
                                            <li class="hiraola-email"><i
                                                    class="ion-android-mail"></i><span>Email:</span>
                                                <br>
                                                {% for email in setting.emails_set.all %}
                                                    <a
                                                            href="mailto://{{ email.email }}">{{ email.email }}</a>
                                                    {% if forloop.last %}
                                                    {% else %}
                                                        <br>
                                                    {% endif %}
                                                {% endfor %}

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="instagram-container footer-widgets_area">
                                    <div class="footer-widgets_title">
                                        <h6>Subscribe we</h6>
                                    </div>
                                    <div class="widget-short_desc">
                                        <p>{{ setting.subscribe_text|safe }}</p>
                                    </div>
                                    <div class="newsletter-form_wrap">
                                        <form
                                                action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef"
                                                method="post" id="mc-embedded-subscribe-form"
                                                name="mc-embedded-subscribe-form" class="newsletters-form validate"
                                                target="_blank" novalidate>
                                            <div id="mc_embed_signup_scroll">
                                                <div id="mc-form" class="mc-form subscribe-form">
                                                    <input id="mc-email" class="newsletter-input" type="email"
                                                           autocomplete="off" placeholder="Enter your email"/>
                                                    <button class="newsletter-btn" id="mc-submit">
                                                        <i class="ion-android-mail" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom_area">
        <div class="container">
            <div class="footer-bottom_nav">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-links">
                            <ul>
                                {% for footer_link in setting.footerlinks_set.all %}
                                    <li><a href="{{ footer_link.url }}">{{ footer_link.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="payment">
                            {% for payment in setting.payment_set.all %}
                                <a href="{{ payment.url }}">
                                    <img src="{{ payment.image.url }}" alt="{{ payment.name }}">
                                </a>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="copyright">
                            <span>{{ setting.copyright|safe }}<a href="/">{{ setting.site_name }}</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>