{% load static %}

<!-- jQuery JS -->
<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<!-- Modernizer JS -->
<script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
<!-- Popper JS -->
<script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>

<!-- Slick Slider JS -->
<script src="{% static 'assets/js/plugins/slick.min.js' %}"></script>
<!-- Countdown JS -->
<script src="{% static 'assets/js/plugins/countdown.js' %}"></script>
<!-- Barrating JS -->
<script src="{% static 'assets/js/plugins/jquery.barrating.min.js' %}"></script>
<!-- Counterup JS -->
<script src="{% static 'assets/js/plugins/jquery.counterup.js' %}"></script>
<!-- Nice Select JS -->
<script src="{% static 'assets/js/plugins/jquery.nice-select.js' %}"></script>
<!-- Sticky Sidebar JS -->
<script src="{% static 'assets/js/plugins/jquery.sticky-sidebar.js' %}"></script>
<!-- Jquery-ui JS -->
<script src="{% static 'assets/js/plugins/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.ui.touch-punch.min.js' %}"></script>
<!-- Lightgallery JS -->
<script src="{% static 'assets/js/plugins/lightgallery.min.js' %}"></script>
<!-- Scroll Top JS -->
<script src="{% static 'assets/js/plugins/scroll-top.js' %}"></script>
<!-- Theia Sticky Sidebar JS -->
<script src="{% static 'assets/js/plugins/theia-sticky-sidebar.min.js' %}"></script>
<!-- Waypoints JS -->
<script src="{% static 'assets/js/plugins/waypoints.min.js' %}"></script>
<!-- Instafeed JS -->
<script src="{% static 'assets/js/plugins/instafeed.min.js' %}"></script>
<!-- Instafeed JS -->
<script src="{% static 'assets/js/plugins/jquery.elevateZoom-3.0.8.min.js' %}"></script>

<!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
<!--
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>
-->

<!-- Main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>

<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


<script>
    function increase() {
        let quantity = document.getElementById('id_quantity').value;
        quantity = parseInt(quantity)
        document.getElementById('id_quantity').value = quantity + 1;
    }

    function decrease() {
        let quantity = document.getElementById('id_quantity').value;
        quantity = parseInt(quantity)
        quantity -= 1;
        if (quantity === 0) {
            quantity = 1;
        }
        document.getElementById('id_quantity').value = quantity;
    }
</script>