{% load render_partial %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {% block title %}{% endblock title %}
    </title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    {% block favicon %}{% endblock favicon %}

    <!-- CSS
	============================================ -->

    {% include 'shared/header_referenced.html' %}

</head>

<body class="template-color-1">

    <div class="main-wrapper">

        <!-- Begin Loading Area -->
        <div class="loading">
            <div class="text-center middle">
                <div class="lds-ellipsis">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <!-- Loading Area End Here -->
        <!-- Begin Hiraola's Newsletter Popup Area -->
        <div class="popup_wrapper">
            <div class="test">
                <span class="popup_off"><i class="ion-android-close"></i></span>
                <div class="subscribe_area text-center">
                    <h2>Sign up for send newsletter?</h2>
                    <p>Subscribe to our newsletters now and stay up-to-date with new collections, the latest lookbooks and exclusive offers.</p>
                    <div class="subscribe-form-group">
                        <form action="#">
                            <input autocomplete="off" type="text" name="message" id="message" placeholder="Enter your email address">
                            <button type="submit">subscribe</button>
                        </form>
                    </div>
                    <div class="subscribe-bottom">
                        <input type="checkbox" id="newsletter-permission">
                        <label for="newsletter-permission">Don't show this popup again</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hiraola's Newsletter Popup Area Here -->

        <!-- Begin Hiraola's Header Main Area -->
        {% render_partial 'Eshop.views.header' %}
        <!-- Hiraola's Header Main Area End Here -->


        {% block content %}{% endblock content %}


        <!-- Begin Hiraola's Footer Area -->
        {% render_partial 'Eshop.views.footer' %}
        <!-- Hiraola's Footer Area End Here -->
        <!-- Begin Hiraola's Modal Area -->
        <!-- Hiraola's Modal Area End Here -->

    </div>

    <!-- JS
============================================ -->

{% include 'shared/footer_referenced.html' %}

</body>

</html>