{% extends 'shared/mainLayout.html' %}
{% block title %}
    Contact Us
{% endblock %}
{% block content %}
    {% include 'shared/breadcrumb.html' with title="Other" sub_title="Contact Us" %}
    <div class="contact-main-page">
        <div class="container">
            <div id="google-map"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 offset-lg-1 col-md-12 order-1 order-lg-2">
                    <div class="contact-page-side-content">
                        <h3 class="contact-page-title">Contact Us</h3>
                        <p class="contact-page-message">{{ setting.about_we|safe }}</p>
                        <div class="single-contact-block">
                            <h4><i class="fa fa-fax"></i> Address</h4>
                            <p>{{ setting.address|safe }}</p>
                        </div>
                        <div class="single-contact-block">
                            <h4><i class="fa fa-phone"></i> Phone</h4>
                            {% for phone in setting.phones_set.all %}
                                <p>Mobile: {{ phone.telephone }}</p>
                            {% endfor %}

                        </div>
                        <div class="single-contact-block last-child">
                            <h4><i class="fa fa-envelope-o"></i> Email</h4>
                            {% for email in setting.emails_set.all %}
                                <p>{{ email.email }}</p>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                    <div class="contact-form-content">
                        <h3 class="contact-page-title">Tell Us Your Message</h3>
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="contact-form">
                            <form id="contact-form" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>{{ form.name.label }} <span class="required">*</span></label>
                                    {{ form.name }}
                                    {% for error in form.name.errors %}
                                        <p class="alert alert-danger">{{ error }}</p>
                                    {% endfor %}

                                </div>
                                <div class="form-group">
                                    <label>{{ form.email.label }} <span class="required">*</span></label>
                                    {{ form.email }}
                                    {% for error in form.email.errors %}
                                        <p class="alert alert-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <label>{{ form.subject.label }}</label>
                                    {{ form.subject }}
                                    {% for error in form.subject.errors %}
                                        <p class="alert alert-danger">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="form-group form-group-2">
                                    <label>{{ form.text.label }}</label>
                                    {{ form.text }}
                                </div>
                                <div class="form-group">
                                    <button type="submit" value="submit" id="submit" class="alsita-contact-form_btn"
                                            name="submit">send
                                    </button>
                                </div>

                            </form>
                        </div>
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}