{% extends 'shared/mainLayout.html' %}
{% block title %}
    Password Rest
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="center">
            <br>
            <p class="alert alert-success text-center">Your already Login</p>
        </div>

    {% else %}
        {% include 'shared/breadcrumb.html' with title='Other' sub_title='Password Rest' %}
        <div class="hiraola-login-register_area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
                        <p class="alert alert-success text-center">Password Reset Sent</p>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}