{% extends 'shared/mainLayout.html' %}

{% block title %}
    DashBoard: Hello {{ request.user.username }}
{% endblock %}

{% block content %}
    {% include 'shared/breadcrumb.html' with title='Other' sub_title='Password reset complate' %}
    <div class="account-page-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                        <div class="tab-pane fade active show" id="account-details" role="tabpanel"
                             aria-labelledby="account-details-tab">
                            <div class="myaccount-details">
                                <p class="alert alert-success">Your password has been set. You may go ahead and log
                                    in now.</p>
                                <a class="text-bold"
                                   href="{% url 'login' %}">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}