{% extends 'shared/mainLayout.html' %}

{% block title %}
    Password Reset Confirm
{% endblock %}

{% block content %}
    <div class="account-page-area">
        <div class="container">
            <div class="row">

                <div class="col-lg-9">
                    <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                        <div class="tab-pane fade active show" id="account-details" role="tabpanel"
                             aria-labelledby="account-details-tab">
                            <div class="myaccount-details">
                                <form class="hiraola-form"
                                      method="post">
                                    {% csrf_token %}
                                    <div class="hiraola-form-inner">
                                        <div class="single-input ">
                                            {{ form.new_password1.label_tag }}
                                            {{ form.new_password1 }}
                                            {% for error in form.new_password1.errors %}
                                                <p class="alert alert-danger">{{ error }}</p>
                                            {% endfor %}
                                            <br><br>
                                            <div class="clearfix">
                                                <p class="text-secondary font-italic">Your password can’t be too similar to your other personal
                                                    information.</p>
                                                <p class="text-secondary font-italic">Your password must contain at least 8 characters.</p>
                                                <p class="text-secondary font-italic">Your password can’t be a commonly used password.</p>
                                                <p class="text-secondary font-italic">Your password can’t be entirely numeric.</p>
                                            </div>

                                        </div>
                                        <div class="single-input ">
                                            {{ form.new_password2.label_tag }}
                                            {{ form.new_password2 }}
                                            {% for error in form.new_password2.errors %}
                                                <p class="alert alert-danger">{{ error }}</p>
                                            {% endfor %}
                                        </div>

                                        <div class="single-input">
                                            <button class="hiraola-btn hiraola-btn_dark" type="submit"><span>SAVE
                                                    CHANGES</span></button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}