{% extends 'shared/mainLayout.html' %}
{% block title %}
    Password Reset
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="center">
            <br>
            <p class="alert alert-success text-center">Your already Login</p>
        </div>

    {% else %}
        {% include 'shared/breadcrumb.html' with title='Other' sub_title='Password Rest' %}
        <div class="hiraola-login-register_area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
                        <!-- Login Form s-->
                        <form method="post">
                            {% csrf_token %}
                            <div class="login-form">
                                <h4 class="login-title">Password Reset</h4>
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <label>{{ form.email.label }}</label>
                                        {{ form.email }}
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="hiraola-login_btn">Send</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br>
                        <div class="login-form">
                            <h4 class="login-title">You haven't account?</h4>
                            <p> 👇👇 </p>
                            <div class="col-md-12">
                                <a href="{% url 'register' %}">
                                    <button type="button" class="hiraola-login_btn">SignUp</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}